.idea/
*.zip
terraform/.terraform/
terraform/terraform.tfstate*
elasticsearch-indexer-lambda/__pycache__/
elasticsearch-indexer-lambda/elasticsearch-7.0.2.dist-info/
elasticsearch-indexer-lambda/elasticsearch/
elasticsearch-indexer-lambda/urllib3-1.25.3.dist-info/
elasticsearch-indexer-lambda/urllib3/
